
.tcontainer {
    direction: rtl;
    text-align: right;
    background-color: #F9B682;
    max-width: 1200px; /* Matches the main container width in base styles */
    margin: 0 auto; /* Centers the container */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dashboard-button {
    font-family:'Morabba-Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: 1px solid #34211d;
    border-radius: 0.375rem;
    background-color: #ff9a04;
    transition: background-color 0.3s;
    cursor: pointer;
}

.frame {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 600px) {
    .tcontainer {
        padding: 1rem;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
.dashboard-button:hover {
    background-color: #a6154c;
    color:#ffffff;
    .button-icon{
        filter: invert(100%);
    }
}

.dashboard-button .button-icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.dashboard-button span {
    font-size: 1.125rem;
    font-weight: 500;
}
.button-wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-top: 20px; /* Optional spacing from other elements */
}