{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'login.css'%}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>خوش آمدید</h2>
            <form class="login-form" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">نام کاربری</label>
                    {{ form.username }}
                    <div class="line"></div>
                </div>
                <div class="input-group">
                    <label for="password">رمزعبور</label>
                    {{ form.password}}
                    <div class="line"></div>
                </div>
                <button type="submit" class="submit-btn">ورود</button>
            </form>
            <p class="switch-text">حسابی ندارید؟ <a href="{% url "signup" %}">ثبت نام</a></p>
        </div>
        <div class="image-container">
            <div class="overlay"></div>
        </div>
    </div>
</body>
</html>

